<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-userDeductions-edit" th:object="${userDeductions}">
            <input id="userId" name="userId" th:field="*{userId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">扣除金额：</label>
                <div class="col-sm-8">
                    <input id="deductionsAmount" name="deductionsAmount" th:field="*{deductionsAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
				<label class="col-sm-3 control-label">费用类型ID：</label>
				<div class="col-sm-8">
					<select id="costTypeId" name="costTypeId"  class="form-control" >
						<option  th:each="costtype:${tm_cost_type}" th:value="${costtype.dictValue}" th:text="${costtype.dictLabel }"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支出时间：</label>
				<div class="col-sm-8">
					<input id="expenditureDate" name="expenditureDate" class="form_datetime form-control" type="text"  readonly="readonly"/>
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea id="remarks" name="remarks" th:field="*{remarks}" class="form-control" rows="3"/>
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "team/userBalance"
		$("#form-userDeductions-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/deductions", $('#form-userDeductions-edit').serialize());
	        }
	    }
		
		$('.form_datetime').datetimepicker({
			language:  'zh-CN',
			format: 'yyyy-mm-dd',//显示格式
			todayHighlight: 1,//今天高亮
			minView: "month",//设置只显示到月份
			startView:2,
			forceParse: 0,
			showMeridian: 1,
			autoclose: 1//选择后自动关闭
			});
	</script>
</body>
</html>
