<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('team:teamInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('team:teamInfo:remove')}]];
        var prefix = ctx + "team/teamInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                //createUrl: prefix + "/add",
                //updateUrl: prefix + "/edit/{id}",
                //removeUrl: prefix + "/remove",
                modalName: "球队资金 ",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'name', 
					title : '球队名称' 
				},
				{
					field : 'introduce', 
					title : '球队介绍' 
				},
				{
					field : 'income', 
					title : '收入' 
				},
				{
					field : 'expenditure', 
					title : '支出' 
				},
				{
					title : '余额',
					formatter: function(value, row, index) {
							return row.income-row.expenditure;
			            }
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>